---
import ProductCard from "../../components/ProductCard.astro";
import Layout from "../../layouts/Layout.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";

const products = [
    {
        slug: "ipcam-ipc04m",
        title: "Купольная IP камера IPCAM IPC04M",
        category: "Купольные камеры",
        image: "/src/assets/ipc04m.jpeg",
        features: [
            "4 Мп Progressive Scan CMOS",
            "2,7-13,5 мм моторизированный объектив",
            "Smart ИК подсветка до 40 м",
            "Защита IP67",
        ],
    },
    {
        slug: "ipcam-ipc08m",
        title: "Цилиндрическая IP камера IPCAM IPC08M",
        category: "Цилиндрические камеры",
        image: "/src/assets/ipc08.jpeg",
        features: [
            "8 Мп Ultra HD 3840 × 2160",
            "EXIR подсветка до 60 м",
            "WDR 130 дБ",
            "4 программируемые маски",
        ],
    },
    {
        slug: "ptz-t400",
        title: "Поворотная камера PTZ IPCAM T400",
        category: "PTZ камеры",
        image: "/src/assets/t400.jpeg",
        features: [
            "25x оптический зум",
            "360° панорамный обзор",
            "ИК подсветка до 150 м",
            "3D позиционирование",
        ],
    },
];
---

<Layout>
    <Navigation />
    <main class="container mx-auto px-4 py-12">
        <h1 class="text-4xl font-bold mb-12 text-center">
            Системы видеонаблюдения
        </h1>

        <div class="grid md:grid-cols-3 gap-8">
            {
                products.map((product) => (
                    <ProductCard
                        title={product.title}
                        category={product.category}
                        image={product.image}
                        features={product.features}
                        slug={product.slug}
                    />
                ))
            }
        </div>
    </main>
    <Footer />
</Layout>
